<html ng-app="myApp">
<head>
    
    <!--Link Para a nuvem https://mean-atividade-contatos.herokuapp.com-->
    
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link type="text/css" rel="stylesheet" href="main.css">
    <title>Portal Online</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="boot/bootstrap-confirmation.js"></script>
    <script src="boot/bootbox.min.js"></script>
    <script src="./app.js"></script>
    <script src="./services.js"></script>
    <script src="./controller.js"></script>
    <style type="text/css">
        
        .titulo-topo{
            color: #eae9e9;
            text-align:center;
            text-shadow: 0 0 15px #b9b0b0;
            transition: 0.5s;
            cursor: default;
            font-size: 3em !important;
            font-family: Lato;
            font-weight: 300 !important;
        }
        
        .titulo-topo:hover {
            transition: 0.5s;
            text-shadow: 0 0 32px #fdfdfd;
            color: #fff;
        }
        
        .jumbotron.topo{
            border-radius: 0 0 10px 10px !important;
            background-color: #222222 !important;
            padding: 0px;
            height: 100px;
            display: flex;
            justify-content:center;
            align-content: center;
        }
        
        p.titulo-topo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .rodape-principal{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        
        
        .rodape{
              background-color: #222;
            color: #9d9d9d;
            text-align: center;
            font-size: 1em;
            font-family: Lato;
            font-weight: 400;
            position: fixed;
            bottom: 0;
            border-radius: 10px 10px 0 0;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .navbar-inverse .navbar-nav>li>a:hover{
            color: #fff;
            text-shadow: 0px 0px 21px #fff;
            transition: 0.5s;
            text-align: center;
        }
        
        .navbar-inverse .navbar-nav>li>a{
            transition: 1s;
        }
        
    </style>
    
</head>
   
<body>
    <div class="container">
        <div class="jumbotron topo">
            <!--<p style="color:#FFFFFF;font-size: 29px;padding-top: 20px;padding-left: 20px;">WebSite MEAN</p>-->
            <p class="titulo-topo animated fadeInDown">Portal de Acessos</p>
        </div>
        
        
        
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            
            <ul class="nav navbar-nav ">
                <li><a href="#/">Home</a></li>
                <li><a ng-hide="logado" href="#/contatos">Contatos</a></li>
                <li><a href="#/sobre">Sobre</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-hide="deslogado" href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li> <a ng-hide="deslogado" href="#/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
              <li><a ng-hide="logado" ng-controller="logoutController" ng-click='logout()' href="#/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="container" style="width: 100% !important;margin-bottom: 10px;height: 400px;">
            <div >
                <div ng-view="myApp"></div>
            </div>
        </div>
        <div class="container-fluid rodape-principal">
            <div class="container rodape">
              <p> 2017 &copy; Portal de Acessos</p>
          </div
        </div>
    </div>
    
     <script>
                        console.log('Bootstrap ' + $.fn.tooltip.Constructor.VERSION);
                        console.log('Bootstrap Confirmation ' + $.fn.confirmation.Constructor.VERSION);

                        $('[data-toggle=confirmation]').confirmation({
                            rootSelector: '[data-toggle=confirmation]',
                            container: 'body'
                        });
                    </script>

</body>
 
</html>