<!DOCTYPE html>
<html >
<head>
    <% include ./partials/head %>
  
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>

        <div class="jumbotron" ng-app="myApp" ng-controller="myCtrl" ng-submit="send()">
            <% include ./partials/title %>
            <br><br><br>
            <form>
              Login: <input type="text" ng-model="user.login"><br>

              Senha: <input type= "text" ng-model="user.senha"><br>

              <button type="submit" >Send</button>


            </form>

            <p>{{user.login}}</p>
            <p>{{user.senha}}</p>

        </div>


    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

<script type="text/javascript" >
console.log("loading Script");
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope,$http) {
   $scope.send = function() {
        var data = {
            login:$scope.user.login,
            password:$scope.user.senha
        };


        $http.post('/cadastro',data)
            .success(function(data,status,headers,config){
                console.log(data);
            })
            .error(function(data,status,headers,config) {
                console.log(data);
            });

   }
});
</script>
</body>
</html>