<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <% include ./partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src='./view/js/teste.js'></script>
</head>

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron" ng-controller="myCtrl">
            <% include ./partials/title %>
            <h2>This is great</h2>
            <p>Welcome to templating using EJS</p>

            <table>
                <tr ng-repeat="each in contatos.contatos">
                    <td>{{each.nome}}</td>
    
                </tr>
            </table>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
   
</body>
</html>