
    <div class="row content">
        <div class="col-sm-3 col-md-3 sidenav ">
            <div class="row linhadomeio">
                <div class="col-sm-11">
                    <!--nome do contato-->
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Contatos de {{usuario}}</h5>
                        </div>
                        <div class="col-md-3">
                            <button class="btn" ng-click="estadonovo()">+</button>
                        </div>


                    </div>
                    <div class="row">

                        <input class="form-control glyphicon" type="text" ng-model="searchString" name="search" placeholder="&#xe003">


                    </div>
                    <br>


                    <div class="row" style="height: 75%;">
                        <div style="width: 100%; height: 100%; overflow-y: scroll;">
                            <!--<div class="panel panel-default" style="background-color:#ffffff;overflow-y: auto; height:50%;">-->

                            <div class="list-group">

                                <a class="list-group-item" ng-repeat="each in contatos | orderBy:'nome' | searchFor:searchString" ng-click=show(each) ng-class="{'list-group-item-info':  each == atual }">{{each.nome}}</a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-sm-1"></div>

            </div>


        </div>






        <!--mostrar dados-->
        <div ng-show="estado=='normal'" class="col-sm-9" style="margin-bottom: 90px;">
            <div class="row soAli ">
                
                <div class=" col-md-9 col-sm-7 ">

                </div>
                <div class="col-md-1 col-sm-2">
                    <button class="btn btn-primary" ng-click=showEdit(atual)>Editar</button>
                </div>

                <div class="col-md-1 col-sm-2">
                    <button class="btn btn-danger" ng-click="remove(atual)">Deletar</button>
                    
                    

                </div>


            </div>

            <!--nome-->
            <div class="row espaco">
                <div class="col-md-12">
                    <h1 style="float: right;">{{atual.nome}}</h1>
                </div>
            </div>
            <hr>


            <!--email-->
            <div class="row espaco">
                <div class="col-md-12">
                    <h5 class="campos"><b>Email: </b></h5>
                    <p style="display:inline;">{{atual.email}}</p>
                </div>
            </div>
            <hr>

            <!--Telefone-->
            <div class="row espaco">
                <div class="col-md-12">
                    <h5 style="color:#92929b;"><b>Telefone</b></h5>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <h5 class="campos"><b>Fixo: </b></h5>
                        <p style="display:inline;">{{atual.telefone.fixo}}</p>
                    </div>
                    <div class="espaco">
                        <h5 class="campos"><b>Celular: </b></h5>
                        <p style="display:inline;">{{atual.telefone.celular}}</p>
                    </div>
                </div>
            </div>
            <hr>

            <!--endereco-->
            <div class="row espaco">
                <div class="col-md-12">
                    <h5 class="campos"><b>Endereço: </b></h5>
                    <t></t>
                    <p style="display:inline;">{{atual.endereco}}</p>
                </div>
            </div>
            <hr>


            <!--obs-->
            <div class="row espaco">
                <div class="col-md-12">
                    <h5 class="campos"><b>Observação: </b></h5>
                    <t></t>
                    <p style="display:inline;">{{atual.obs}}</p>
                </div>
            </div>
        </div>




        <!--atualizar dados-->
        <div ng-show="estado=='edit'" class="col-sm-9">
            <div class="row soAli ">
                <div class="col-md-9 col-sm-9"></div>
                <div class="col-md-1 col-sm-1">
                <button class="btn btn-success" ng-click=patch()>Salvar</button>
                </div>
                
                <div class="col-md-1 col-sm-1">
                <button class="btn btn-danger" ng-click=reset()>Cancelar</button>
                </div>
            </div>
            <!--nome-->
            <div class="row espaco">
                <div class="col-md-12">
                    <label for="nome">Nome:</label>
                    <input id="nome" class="form-control input-sm text-area tam" ng-model="contatos.selected.nome">
                </div>
            </div>


            <!--email-->
            <div class="row espaco">
                <div class="col-md-12">
                    <label for="email">Email:</label>
                    <input id="email" class="form-control input-sm tam " ng-model="contatos.selected.email">
                </div>
            </div>

            <!--Telefone-->
            <div class="row espaco">
                <div class="col-md-12">
                    <h5 style="color:#00000;"><b>Telefone</b></h5>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="">
                        <label for="fixo">Fixo:</label>
                        <input id="fixo" class="form-control input-sm tam" ng-model="contatos.selected.telefone.fixo">
                    </div>
                    <div class="espaco">
                        <label for="celular">Celular:</label>
                        <input id="ceular" class="form-control input-sm tam" ng-model="contatos.selected.telefone.celular">

                    </div>
                </div>
            </div>

            <!--endereco-->
            <div class="row espaco">
                <div class="col-md-12">
                    <label for="endereco">Endereco:</label>
                    <input id="endereco" class="form-control input-sm tam" ng-model="contatos.selected.endereco">
                </div>


            </div>


            <!--obs-->
            <div class="row espaco">
                <div class="col-md-12">
                    <label for="obs">Observação</label>
                    <textarea row="5" id="obs" class="form-control input-sm tam" ng-model="contatos.selected.obs"></textarea>
                </div>
            </div>
        </div>






        <!--novo contato-->
        <div ng-show="estado=='novo'" class="col-sm-9 col-md-9" style="margin-bottom: 70px;">
            <form class="form" ng-submit="addContato()" id="formContato">
                <div class="row soAli ">
                    <div class="col-md-8 col-sm-8"></div>
                    <div class="col-md-1 col-sm-1"> 
                    <button class="btn btn-success" type="submit" ng-disabled="disabled">Salvar</button>
                    </div>
                    
                    <div class="col-md-1 col-sm-1"> </div>
                    
                    <div class="col-md-1 col-sm-1"> 
                    <button class="btn btn-danger" ng-click=reset()>Cancelar</button>
                    </div>

                </div>
                <div class="row alert alert-danger" ng-show="addErr">{{addErr}} </div>
                <!--nome-->
                <div class="row espaco">
                    <div class="col-md-12">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" class="form-control input-sm text-area tam" ng-model="novo.nome" required>
                    </div>
                </div>


                <!--email-->
                <div class="row espaco">
                    <div class="col-md-12">
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="form-control input-sm tam " ng-model="novo.email">
                    </div>


                </div>

                <!--Telefone-->
                <div class="row espaco">
                    <div class="col-md-12">
                        <h5 style="color:#00000;"><b>Telefone</b></h5>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <label for="fixo">Fixo:</label>
                            <input pattern="[0-9()]*" id="fixo" class="form-control input-sm tam" ng-model="novo.fixo">
                        </div>
                        <div class="espaco">
                            <label for="celular">Celular:</label>
                            <input pattern="[0-9()]*" id="ceular" class="form-control input-sm tam" ng-model="novo.celular">
                        </div>
                    </div>
                </div>

                <!--endereco-->
                <div class="row espaco">
                    <div class="col-md-12">
                        <label for="endereco">Endereço:</label>
                        <input type="text" id="endereco" class="form-control input-sm tam" ng-model="novo.endereco">
                    </div>
                </div>


                <!--obs-->
                <div class="row espaco">
                    <div class="col-md-12">
                        <label for="obs">Observação</label>
                        <textarea type="text" row="5" id="obs" class="form-control input-sm tam" ng-model="novo.obs"></textarea>
                    </div>
                </div>

            </form>
        </div>



    </div>
